.aa {
    font-size: 12pt;
    line-height: 1.125em;
    font-family: "MS PGothic";
    color: black;
    user-select: none;
    -moz-user-select: none;
}
@media (max-width: 800px) {
    .aa {
        display: none;
    }
}

.aa-main {
    position: fixed;
    bottom: -2.5em;
    left: 5px;
    color: gray;
    opacity: 0.2;
}
@media (max-width: 1279px) {
    .aa-main {
        display: none;
    }
}

html {
    cursor: url('/assets/images/trident.png'), auto !important;
}

a:nth-of-type(3n+1) {
    cursor: url('/assets/images/ufo1.png'), pointer !important;
}
a:nth-of-type(3n+2) {
    cursor: url('/assets/images/ufo2.png'), pointer !important;
}
a:nth-of-type(3n) {
    cursor: url('/assets/images/ufo3.png'), pointer !important;
}

li:nth-of-type(3n+1) a {
    cursor: url('/assets/images/ufo1.png'), pointer !important;
}
li:nth-of-type(3n+2) a {
    cursor: url('/assets/images/ufo2.png'), pointer !important;
}
li:nth-of-type(3n) a {
    cursor: url('/assets/images/ufo3.png'), pointer !important;
}