<!DOCTYPE html>
<html lang="en">
    <head>
        {% include meta_tags/base.html %}
        {% include meta_tags/sharing.html %}

        {% include externals/styling.html %}
        <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">
        {% if page.id == "about" %}
            <link rel="stylesheet" href="{{ "/css/about.css" | prepend: site.baseurl }}">
        {% endif %}
    </head>

    <body>
        <!--
            AA copied from http://touhou-aamatome.sakura.ne.jp/aa/seirensen/nue.html
         -->
        <div class="wrapper">
            {% include header.html %}

            {{ content }}
        </div>

        {% if page.id != "about" and page.id != "err404" %}
        <pre class="aa aa-main">
　　 　 　 　ﾄ ､.　 /|
　 　 　 　 　＼＼|::|/|,. -‐‐- ､.,_
　　　　　　　　,＞''"´:::::::::::::::::::::::｀ヽ.
　　　 　 　 ／:::/::::::::::/|::::::::::::::::::::::｀ヽ.
　　 　 　 ./:::／::::::::::/‐ﾍ:::::::ﾄ ､ｰ-::＼｀フ
　　　 　 ,'＜:;_/:::::::/　__, ＼| ､_＼::::::::＞
　　　　 ,.|::::∠;:::::::xｰt--,　　 -tｰ‐ｧ7´|　
　　　　　!:::::::ｒﾚ∨. 　`‐'　　　　`ｰ'　::八　
　 -ﾄ ､__人::::ゝ'ﾍ　 　 　 　 　 　 　 |:::_;:＞
　 人::::::::::::;＞:::;ハ､　 　　　,　　　.人:|　　
￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣￣
        </pre>
        {% endif %}

        {% include externals/scripting.html %}
        {% include externals/google_analytics.html %}
        <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
        <script src="//s0.pstatp.com/cdn/expire-1-y/instantclick/3.0.1/instantclick.min.js" data-no-instant></script>
        <script data-no-instant>InstantClick.init();</script>
    </body>
</html>